html
    head
        title  Student List
    body
        table
            tr
                th  Firstname
                th  Lastname
                th  Age
            for student, i in students
                tr
                th=  student.firstname
                th=  student.lastname
                th=  student.age
